extends layout

block content

    form(name='signup_form' novalidate ng-submit='signupForm()')
        fieldset
            legend Signup
            div.row
                div.large-12.columns
                    label Your name
                    input(type='text' placeholder='name'
                        name='name' ng-model='signup.name'
                        ng-minlength='3' ng-maxlength='20' required )
            div.error(ng-show='signup_form.name.$dirty && signupform.name.$invalid')
                small.error(ng-show='signup_form.name.$error.required') Your name is required
                small.error(ng-show='signup_form.name.$error.minlength') Your name is required to be at least 3 characters
                small.error(ng-show='signup_form.name.$error.maxlength') Your name cannot be longer than 20 characters
            div.row
                div.large-12.columns
                    label Your email
                    input(type='email' placeholder='EMail' name='email' ng-model='signup.email'
                        ng-minlength='3' ng-maxlength='20' required)
            div.error(ng-show='signup_form.name.$dirty && signupform.name.$invalid')
                small.error(ng-show='signup_form.name.$error.required') Your email is required
                small.error(ng-show='signup_form.name.$error.email') This is not a valid email
                small.error(ng-show='signup_form.name.$error.minlength') Your email is required to be at least 3 characters
                small.error(ng-show='signup_form.name.$error.maxlength') Your email cannot be longer than 20 characters
            div.row
                div.large-12.columns
                    label Username
                    input(type='email' placeholder='Desired username' name='username' ng-model='signup.username'
                    ng-minlength='3' ng-maxlength='20' ensure-unique='username' required)
            div.error(ng-show='signup_form.name.$dirty && signupform.name.$invalid')
                small.error(ng-show='signup_form.name.$error.required') Username is required
                small.error(ng-show='signup_form.name.$error.unique') That username is taken, please try another
                small.error(ng-show='signup_form.name.$error.minlength') Username is required to be at least 3 characters
                small.error(ng-show='signup_form.name.$error.maxlength') Username cannot be longer than 20 characters
        div.row
                div.large-12.columns
                    button.button.radius(type='submit') Submit
